html,
body {
    min-width: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(315deg, rgba(172, 213, 196, 1) 0%, rgba(225, 241, 235, 1) 35%, rgba(247, 247, 246, 1) 100%);
    color: #282827;
    font-family: 'Source Code Pro', monospace;
    ;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#sign-in-container {
    background: #ededeb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #3a3a38;
    min-width: 300px;
    min-height: 200px;
}

.sign-in-text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.g_id_signin {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-in-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px 29px;
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    transition: 0.4s;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    padding: 0px 30px;
    color: #282827;
    margin: 10px;
}

.sign-in-button:hover {
    background: #acd5c4;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.spacer {
    flex-grow: 1;
}

.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.selectFilesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.beginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.text {
    margin: 0;
}

.tempText {
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

/*select Button*/
.button-62 {
    background: #282827;
    border: 0;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    padding: 0px 30px;
    outline: transparent;
    text-align: center;
    text-decoration: none;
    transition: .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    height: 40px;
}

.button-62:not([disabled]):hover {
    background: #acd5c4;
    color: #282827;
    box-shadow: 0 0 10px #acd5c4;
}

.button-62.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.innerContainer {
    flex: 1;
    background-color: #ededeb;
    border-radius: 10px;
    max-width: 500px;
    min-height: 500px;
    position: relative;
    box-shadow: 2px 2px 10px #b0b0ae;
}

.innerContainer:first-child {
    margin-right: 20px;

}



ul {
    list-style-type: none;
    padding: 0px 10px;
    max-height: 320px;
    overflow-y: auto;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 10px;
    position: relative;
    font-weight: bold;
}

li:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

span {
    flex-grow: 1;
    margin-right: 10px;
}

span.file-size {
    margin-top: 5px;
    font-size: 15px;
    color: #999;
}

.removeButtonStyle {
    background: none;
    border: none;
    color: #a84242;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    font-weight: bold;
}

.removeButtonStyle:not([disabled]):hover {
    color: #c47a7a;
}

.fas,
.fa-download {
    background: none;
    border: none;
    font-size: 1.30rem;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    font-weight: bold;
}

.statusContainer {
    display: flex;
    justify-content: center;
}

.statusClass {
    font-weight: bold;
    padding: 20px;
}